// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$link-hover: #e8ce5d;
$header-hover: #ff2900;

// FONTS

$font-reforma: 'Reforma';
$font-reforma-medium: 'ReformaMedium';
$font-conqueror-slab: 'ConquerorSlab';
$font-conqueror-slab-bold: 'ConquerorSlabBold';
$font-conqueror-slab-italic: 'ConquerorSlabItalic';
$font-theodore-glagolev-display: 'TheodoreGlagolevDisplay';
